input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
  appearance: textfield;
}
h2, h3 {
  white-space: nowrap;
}
.no-header-card .p-card-content {
  padding-top: 0;
}
.no-header-card h3{
  margin-top: 0;
}

@media only screen and (min-width: 320px) {
  .main-content{
    flex-direction: column;
    margin-bottom: 2rem !important;
  }
  .weather-icons-big {
    width: 20px;
  }
  .weather-icons {
    width: 15px;
  }
  .weather-icons-down,
  .weather-icons-up{
    width: 8px;
  }
  .weather-icons-container{
    margin-left: 0 !important;
  }
}

@media only screen and (min-width: 1440px) {
  .weather-icons-container h2,
  .weather-icons-container h3{
    font-weight: 500;
  }
  .weather-icon-main {
    width: 60px;
    height: 60px;
  }
  .weather-icons {
    width: 30px;
    height: 30px;
  }
  .weather-icons-big {
    width: 45px;
    height: 45px;
  }
  .weather-icons-up{
    width: 15px;
    height: 15px;
  }
  .weather-icons-down{
    width: 15px;
    height: 15px;
  }
}

