input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
  appearance: textfield;
}

h2, h3 {
  white-space: nowrap;
}

.p-tabview-nav{
  background-color: #f8f9fa;
}

.no-header-card .p-card-content {
  padding-top: 0;
}
.no-header-card div {
  border-radius: 0;
}
.no-header-card h3{
  margin-top: 0;
}

.current-info div{
  border-radius: 6px;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
  background-color: purple !important;
}

.p-carousel-next,
.p-carousel-prev {
  box-shadow: 0px 0px 5px black;
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.p-carousel-next:hover,
.p-carousel-prev:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

@media only screen and (min-width: 320px) {
  .main-content{
    flex-direction: column;
    margin-bottom: 2rem !important;
  }
  .p-tabview-nav{
    font-size: 14px;
  }
  .p-tabview-panels {
    padding: 16px 4px !important;
  }
  .p-tabview-panel {
    margin-left: auto;
    margin-right: auto;
  }
  .daily-forecast {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 550px;
  }
  .daily-forecast-inner{
    margin: 0 !important;
    justify-content: center !important;
  }
  .p-fieldset{
    width: 100%;
    padding: 16px;
  }
  .p-fieldset-legend {
    font-size: 14px;
  }
  .p-fieldset .p-fieldset-content {
    max-width: 450px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .daily-weather-card-inner {
    font-size: 10px;
    white-space: break-spaces !important;
    width: 100%;
    display: flex;
  }
  .main-info-sun-pos{
    justify-content: center !important;
  }
  .weather-icon-main {
    width: 40px;
    height: 40px;
    background-color: #A4E3F9;
    border-radius: 6px;
    margin-left: 1rem !important;
  }
  .weather-icons-big {
    width: 20px;
  }
  .weather-icons {
    width: 15px;
  }
  .weather-icons-down,
  .weather-icons-up{
    width: 8px;
  }
  .weather-icons-container{
    margin-left: 0 !important;
  }
  .location-form {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }
  .location-form .p-button{
    font-size: 12px;
    padding: 12px 16px;
  }
  .latitude-container,
  .longitude-container{
    margin: 0 0 16px 0 !important;
    display: flex;
    flex-direction: column;
  }

  .error-message{
    font-size: 10px;
    color: red;
  }
  .p-inputtext.lat-lon-inputs {
    width: 175px;
    padding: 8px;
  }
  .lat-lon-labels{
    transform: translateY(4px) !important;
  }
  .p-inputtext.lat-lon-inputs,
  .lat-lon-labels{
    font-size: 12px;
  }
  .p-inputtext.lat-lon-inputs:not(:placeholder-shown) + .lat-lon-labels,
  .p-inputtext.lat-lon-inputs:focus + .lat-lon-labels{
    transform: translateY(0px) !important;
  }

  .current-info {
    margin-left: auto;
    margin-right: auto;
  }
  .current-info .p-card-body {
    padding: 12px 16px;
  }
  .current-info .p-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
  }
  .current-info h2{
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 24px;
  }
  .current-temps {
    margin-bottom: 1rem;
  }
  .current-extras {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .current-info h3, .current-extras {
    font-size: 16px;
  }
  .current-info-details{
    flex-direction: column;
  }
  .current-info-details .second-part {
    margin-left: 0 !important;
  }
  .p-carousel-next,
  .p-carousel-prev {
    padding: 15px !important;
  }
  .p-carousel-next{
    margin-right: 4px !important;
    margin-left: 4px !important;
  }
  .p-carousel-prev{
    margin-right: 4px !important;
    margin-left: 4px !important;
  }
  .carousel-prev-icon {
    width: 15px;
    height: 15px;
  }
  .hourly-info .p-card-body{
    font-size: 12px;
    padding: 8px 12px;
  }
}

@media only screen and (min-width: 576px) {
  .daily-weather-card-inner{
    margin-top: 0 !important;
    margin-bottom: 4rem !important;
  }
  .p-tabview-panels {
    padding: 16px !important;
  }
  .p-fieldset .p-fieldset-content {
    max-width: 700px;
  }
  .location-form {
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }
  .latitude-container,
  .longitude-container{
    margin: 0 8px !important;
  }
  .daily-weather-card-inner {
    margin-bottom: 0 !important;
  }
  .location-form .p-button{
    font-size: 12px;
    padding: 8px 16px;
  }
  .current-info .p-card-body {
    padding: 16px 24px;
  }
  .current-info-details{
    flex-direction: row;
  }
  .current-info-details .second-part {
    margin-left: 2rem !important;
  }
}

@media only screen and (min-width: 1024px) {
  .main-content {
    flex-direction: row;
    justify-content: center;
  }
  .daily-weather-card-inner {
    margin-bottom: 1rem !important;
  }
}
@media only screen and (min-width: 1440px) {
  .main-content {
    justify-content: space-evenly;
  }
  .p-tabview-nav{
    font-size: 18px;
  }
  .p-tabview-panels {
    padding: 24px !important;
  }
  .daily-forecast {
    margin-left: 0 !important;
    max-width: 700px;
  }
  .p-fieldset-legend {
    font-size: 16px;
  }
  .daily-weather-card-inner {
    font-size: 16px;
    margin-left: 2rem;
  }
  .weather-icons-container h2,
  .weather-icons-container h3{
    font-weight: 500;
  }
  .weather-icon-main {
    width: 60px;
    height: 60px;
  }
  .location-form .p-button{
    padding: 16px 24px;
  }
  .error-message{
    font-size: 14px;
  }
  .p-inputtext.lat-lon-inputs{
    padding: 12px 24px;
  }
  .p-inputtext.lat-lon-inputs,
  .lat-lon-labels{
    font-size: 16px;
  }
  .current-info{
    margin-left: 0;
    margin-right: 0;
  }
  .current-info h2{
    font-size: 32px;
    font-weight: 500;
  }
  .current-temps {
    margin-bottom: 2rem;
  }
  .current-temps h3 {
    font-size: 24px;
    font-weight: 500;
  }
  .current-info .p-card-body {
    padding: 24px 32px;
  }
  .current-extras{
    font-size: 20px;
  }
  .weather-icons {
  width: 30px;
  height: 30px;
  }
  .weather-icons-big {
    width: 45px;
    height: 45px;
  }
  .weather-icons-up{
    width: 15px;
    height: 15px;
  }
  .weather-icons-down{
    width: 15px;
    height: 15px;
  }

  .p-carousel-next,
  .p-carousel-prev {
    padding: 30px !important;
  }
  .p-carousel-next{
    margin-left: 8px !important;
  }
  .p-carousel-prev{
    margin-right: 8px !important;
  }
  .carousel-prev-icon {
    width: 20px;
    height: 20px;
  }
  .hourly-info .p-card-body{
    font-size: 14px;
    padding: 12px 20px;
  }

}

