<p-fieldset legend="Location">
  <h4>{{timezone}}</h4>
  <form [formGroup]="locationForm" (ngSubmit)="getWeatherByLonLat()">
    <span class="p-float-label">
      <input type="number" id="lon" class="p-inputtext-sm" pInputText formControlName="lon"/>  
      <label htmlFor="lon">Longitude</label>
      <div *ngIf="lon?.invalid && (lon?.dirty || lon?.touched)">
        <div *ngIf="lon?.errors?.['required']">Longitude is required.</div>
        <div *ngIf="lon?.errors?.['pattern']">Longitude must be a number.</div>
      </div>
    </span>
    <span class="p-float-label">
      <input type="number" id="lat" class="p-inputtext-sm" pInputText formControlName="lat"/>  
      <label htmlFor="lat">Latitude</label>
      <div *ngIf="lat?.invalid && (lat?.dirty || lat?.touched)">
        <div *ngIf="lat?.errors?.['required']">Latitude is required.</div>
        <div *ngIf="lat?.errors?.['pattern']">Latitude must be a number.</div>
      </div>
    </span>
    <p-button (onClick)="getWeatherByLonLat()" type="submit" [disabled]="locationForm.invalid">Search</p-button>
  </form>
</p-fieldset>

<p-tabView (onChange)="dayChangeHandler($event)">
  <p-tabPanel *ngFor="let day of days" [header]="day.time">
    <p-card>
      <h2 *ngIf="day.current_temp">Current temperature: {{day.current_temp}}</h2>
      <h4>Min: {{day.temperature_2m_min}}</h4>
      <h4>Max: {{day.temperature_2m_max}}</h4>
      <h4>Sunrise: {{day.sunrise}}</h4>
      <h4>Sunset: {{day.sunset}}</h4>
    </p-card>
  </p-tabPanel>

</p-tabView>
<div [ngSwitch]="selectedDay">
  <p-carousel *ngSwitchCase="days[0]" [value]="hours" [numVisible]="8" [numScroll]="6" [circular]="true" [responsiveOptions]="responsiveOptions">
    <ng-template let-hour pTemplate="body">
      <p-card class="no-header-card">
        <h3>{{hour}}</h3>
        <p>Temp: {{ getSelectedDayData(days[0], hour).temp }}C</p>
        <p>Feels like: {{ getSelectedDayData(days[0], hour).feelsLike }}C</p>
        <p>Precipitation: {{ getSelectedDayData(days[0], hour).precipitation}}%</p>
        <p>Pressure: {{ getSelectedDayData(days[0], hour).pressure }}hPa</p>
        <p>Wind speed: {{ getSelectedDayData(days[0], hour).windspeed }}km/h</p>
        <p>Visibility: {{ getSelectedDayData(days[0], hour).visibility }}m</p>
        <!-- <p>{{ getSelectedDayData(days[0], hour).winddirection }}</p> -->
        <!-- <p>{{ getSelectedDayData(days[0], hour).is_day }}</p> -->
      </p-card>
    </ng-template>
  </p-carousel> 
</div>